main{
    margin-top: 100px;
    margin-bottom: 45px;
}

body{
    background-color: #f0f0f5;
}

.container{
    max-width: 600px;
}

main{
    background-color: #fff;
    border-radius: 15px;
    padding: 38px;
}

form div{
    padding: 0px 50px;
}

form div label{
    margin-top: 25px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.valid{
    color: #28a745;
    font-size: 13px;
}

.valid-input{
    color: #28a745;
    border: 2px solid #28a745;
}

.invalid{
    color: #c82333;
    font-size: 13px;
}

.invalid-input{
    color: #c82333;
    border: 2px solid #c82333;
}

h2{
    margin-top: 48px;
}

#numbers{
    margin-top: 20px;
}

.number{
    font-size: 25px;
    background: #0804fc;
    color: white;
    padding: 0 5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.not-available{
    font-size: 25px;
    background: #0728e4;
    opacity: 0.6;
    color: white;
    padding: 0 5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.icon-confirmed, .icon-unconfirmed{
    font-size: 35px;
}

.selected{
    background-color: rgb(81, 218, 69);
    color: #ffffff;
}

fieldset legend{
    text-align: center;
}

#payment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.method{
    background-color: #b1b1b1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    border-radius: 15px;
    cursor: pointer;
}

.method img,
.method h3{
    pointer-events: none;
}

.select{
    background-color: rgb(155, 219, 219);
}

.payment{
    color: rgb(47, 0, 255);
}

@media(max-width: 520px){
    #payment{
        grid-template-columns: 1fr;
    }
}