{% extends 'layout.html' %}

{% block style %}
	<link rel="stylesheet" href="css/users.css">
{% endblock style %}

{% block title %}
	<title>Cadastre-se e concorra</title>
{% endblock title %}

{% block content %}

	<main class="container">

		<h1 class="display-4 text-center">Você escolheu pagar pelo NuBank</h1>
        <p class="lead ml-5 mt-5">Conta: <span style="color:blue">96528742-1</span></p>
        <p class="lead ml-5">Agência: <span style="color:blue">0001</span></p>
        <p class="lead ml-5">Nome: <span style="color:blue">Luan Silva Tolentino</span></p>

	</main>
    
{% endblock content %}
        

