{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="css/painel.css">
{% endblock style %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Painel de Controle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Você está aqui<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Ir para o site da rifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Ajuda</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Pesquise um cliente aqui" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar cliente</button>
            </form>
        </div>
    </nav>

    <div class="container">

        <h1 class="display-4">Clientes cadastrados {{total}}</h1>

        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Números</th>
                    <th scope="col">Status</th>
                    <th scope="col">Confirmar</th>
                </tr>
            </thead>
            <tbody>

            {% for clients in clients %}
            
                <tr id="{{clients.id}}" onclick="showInfo(this)">
                    <td class="name">{{clients.name}}</th>
                    <td class="numbers">{{clients.numbers}}</td>
                    <td class="">
                        {% if clients.confirmed == false %}
                            <i class="fas fa-heart-broken icon-unconfirmed " data-toggle="popover" title="Não confirmado" data-content="Esse cliente ainda não teve o pagamento confirmado"></i>
                        {% elseif clients.confirmed == true %}
                            <i class="fas fa-grin-beam icon-confirmed" data-toggle="popover" title="Confirmado" data-content="Esse cliente já teve o pagamento confirmado"></i>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-success lead">
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td class="email">{{clients.email}}</td>
                    <td class="phone">{{clients.phone}}</td>
                    <td class="id">{{clients.id}}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>

    {% block modal %}
    {% include 'partials/modal.html'%}
{% endblock modal %}
    
{% endblock content %}

{% block script %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<script src="js/painel.js"></script>
{% endblock script %}
