{% extends 'layout.html' %}

{% block style %}
	<link rel="stylesheet" href="css/users.css">
{% endblock style %}

{% block title %}
	<title>Cadastre-se e concorra</title>
{% endblock title %}

{% block content %}
	{% block menu %}
		{% include 'partials/menu.html'%}	
	{% endblock menu %}

	<main class="container">

		<h1 class="display-4 text-center">Faça seu cadastro abaixo e participe</h1>

		<form action="/saveuser" method="post">
			<fieldset>
				<div class="field">
					<label for="name" class="lead">Nome</label>
					<input type="text" name="name" placeholder="Digite seu nome" class="form-control">
				</div>

				<div class="field">
					<label for="email" class="lead">E-mail</label>
					<input type="email" name="email" placeholder="Digite seu email" class="form-control">
				</div>

				<div class="field">
					<label for="phone" class="lead">Celular</label>
					<input type="number" name="phone" placeholder="Digite seu celular com DDD" class="form-control">
				</div>
			</fieldset>
			
			<fieldset>
				<h2 class="display-4 text-center">Escolha seus números</h2>

				<div id="numbers" >

					{% for numbers in numbers %}

					{% if numbers.available == true %}
					
						{% if numbers.number.length < 3 %} 
							<button type="button" id="{{numbers.number}}" class="number" onclick="handleSelectedNumbers(this)">
							0{{numbers.number}}
							</button>
						{% else %} 
							<button type="button" id="{{numbers.number}}" class="number" onclick="handleSelectedNumbers(this)">
							{{numbers.number}}</button> 
						{% endif %}
					{% endif %}

					{% if numbers.available == false %}
						{% if numbers.number.length < 3 %} 
							<button type="button" id="{{numbers.number}}" class="not-available" onclick="handleSelectedNumbers(this)" disabled>
							0{{numbers.number}}
							</button>
						{% else %} 
							<button type="button" id="{{numbers.number}}" class="not-available" onclick="handleSelectedNumbers(this)" disabled>
							{{numbers.number}}</button> 
						{% endif %}

					{% endif %}

					{% endfor %}
				
				</div>
				<input type="hidden" name="numbers">
			</fieldset>			

			<fieldset class="mt-4">
				<legend class="mb-4">Escolha o método de pagamento:</legend>
					<div id="payment">
						<li class="method" id="bb" data-id="Banco do Brasil">
							<img src="/img/bb.jpg" width="50px" alt="">
							<h3>Banco do Brasil</h3>
						</li>
						<li class="method" id="cx" data-id="Caixa">
							<img src="/img/caixa.jpg" width="50px" alt="">
							<h3>Caixa</h3>
						</li>
						<li class="method" id="nb" data-id="NuBank">
							<img src="/img/nubank.png" width="50px" alt="">
							<h3>Nubank</h3>
						</li>
						<li class="method" id="pp" data-id="PicPay">
							<img src="/img/picpay.png" width="50px" alt="">
							<h3>Picpay</h3>
						</li>
					</div>
					<input type="hidden" name="payment">
					<p class="lead text-center mt-4">Pagamento selecionado: <span class="payment">Nenhum</span></p>
			</fieldset>

			<button type="submit" class="btn btn-success btn-block mt-3" id="submit-btn">Concluir cadastro</button>
		</form>

	</main>
	
	{% block cadastrado %}
		{% if saved %}
			<div id="payment">{{payment}}</div>

		<script>
			
			let paymentMethod = document.querySelector('#payment').innerHTML;

			if(paymentMethod == 'bb'){
				setTimeout(()=>{
					window.location.href = `/payment/bb`;
				}, 3000);
			} else if(paymentMethod == 'cx'){
				setTimeout(()=>{
					window.location.href = `/payment/cx`;
				}, 3000);
			} else if(paymentMethod == 'nb'){
				setTimeout(()=>{
					window.location.href = `/payment/nb`;
				}, 3000);
			} else if(paymentMethod == 'pp'){
				setTimeout(()=>{
					window.location.href = `/payment/pp`;
				}, 3000);
			}

		</script>
			{% include 'partials/modal-cadastro.html'%}
		{% endif %}
	{% endblock cadastrado %}

	{% block footer %}
		{% include 'partials/footer.html'%}
	{% endblock footer %}
{% endblock content %}

{% block script %}
	<script src="js/create-user.js"></script>
{% endblock script %}
        

