<header>
            <nav class="navbar fixed-top navbar-light navbar-expand-md" id="nav-top">
                <div class="container">
                    <div class="navbar-brand">
                        Rifa do Luan
                    </div>

                    <button class="navbar-toggler" data-toggle="collapse" data-target="#main-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="main-menu">
                        <ul class="navbar-nav ml-auto" id="main-link">
                            <li class="nav-item">
                                <a href="#know-more" class="nav-link">Saiba mais</a>
                            </li>
                            <li class="nav-item">
                                <a href="#galery" class="nav-link main-link">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a href="/users" class="nav-link main-link">Participe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>