<div class="modal" tabindex="-1" role="dialog" id="modal-ajuda">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <h2>Confirmar pagamento</h2>
          <p>Você terá que ver os pagamentos recebidos em sua respectivas contas e confirmar o pagamento de cada usuário através do painel</p>
          <h2>Visualizar informações do usuário</h2>
          <p>Para visualizar as informações de cada usuário basta clicar sobre a linha dele na tabela</p>
          <h2>Confirmar status de pagamento</h2>
          <p>Para muda o stauts de pagamento de cada usuário que teve o pagamento recebido, basta clicar sobre a linha dele na tabela, digitar sua senha na parte de baixo da tela que será exibida e clicar no botão para confirmar o pagamento.</p>
                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>